 <!doctype html5>
<html>
<head>

    <meta charset="UTF-8"/>
    <title>first project</title>
    <meta name="discription" content="this is my first page"/> 
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
    <header>
        <nav>
            <a href="login.html">LOG IN</a>
            <a href="inscription.html">INSCRIT VOUS</a>
             <a href="https://www.instagram.com/J_H_O_N_S_O_N/">CONTACT US</a>
        
        </nav>
        <h1>Barcelona </h1>
    </header>    

<img src="../static/images/dra.gif">
<fieldset><legend>Definition de CULERS</legend><p><strong><a href="https://www.fcbarcelona.com">
     fc Barcelona</a></link></strong> Le Futbol Club Barcelona, communément appelé FC Barcelone (diminutif Barça), 
    est un club de football espagnol fondé en 1899, basé à Barcelone, capitale de la Catalogne, 
    et qui évolue dans le championnat d'Espagne. C'est la section football du club omnisports de même nom.

    Il a remporté au total vingt-six championnats, trente-et-une coupes d'Espagne, cinq Ligues des champions, 
    quatre coupes des vainqueurs de coupe, trois coupes des villes de foires et trois coupes du monde des clubs.
    
    Établis initialement au stade des Corts, les Blaugranesnote 2 sont basés depuis 1957 au rebaptisé Camp Nou (catalan pour « nouveau stade »), 
    le plus grand stade d'Europe avec 99 354 places.</p></fieldset>
    <table border="1"> 
    
    

        <caption><strong> les jouerre du premmier equipe</strong></caption>
        <thead>
            <tr>
                <td><strong>jouerre</strong></td>
                <td><strong>age</strong></td>
                <td><strong>pays</strong></td>
            </tr>
        </thead> 
        <tbody>
            <tr>
                <td>marc-andre-ter-stegen</td>
                <td>30 y.o</td>
                <td>germany</td>
            </tr>
            <tr>
                <td>Koundé, Jules</td>
                <td>25 y.o</td>
                <td>france</td>
            </tr>
            <tr>
                <td>Christensen, Andreas</td>
                <td>26 y.o</td>
                <td>Danemark</td>
            </tr>
            <tr>
                <td>balde</td>
                <td>18 y.o</td>
                <td>espaigne</td>
            </tr>
            <tr>
                <td>marcos alonso</td>
                <td>31 y.O</td>
                <td>Espagne</td>
            </tr>
            <tr>
                <td>Busquets, Sergio</td>
                <td>34 y.o</td>
                <td>Espagne</td>
            </tr>
            <tr>
                <td>pedri</td>
                <td>19 y.o</td>
                <td>Espagne</td>
            </tr>
            <tr>
                <td>gavi</td>
                <td>18 y.o</td>
                <td>Espagne</td>
            </tr>
            <tr>
                <td>dembelé</td>
                <td>25 y.o</td>
                <td>France</td>
            </tr>
            <tr>
                <td>fati insu</td>
                <td>19 y.o</td>
                <td>Espagne</td>
            </tr>
            <tr>
                <td>Lewandowski, Robert</td>
                <td>34 y.o</td>
                <td>pologne</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <a><td colspan="2">total</td></a>
                <td>11 joueurs</td>

            </tr>
        </tfoot>
    </table><form>
        <fieldset>

            <legend class="us">nouveauté</legend>
            <b>here you can find the new news of barcelona</b>
            <video src="news.mp4" autoplay controls>Latest News</video>
        </fieldset>
    </form>
    
<footer> <hr>    <p><b>about us:</b> We culers are a part of the big Catalonian family, we share Barcelona contents up to date.</p>
    <p><a href="https://www.instagram.com/J_H_O_N_S_O_N/"> directed by johnson</a></p>
</footer>
</body>













</html>












 </doctype>