<!doctype html5>
<html>
<head>

    <meta charset="UTF-8"/>
    <title>LOGIN</title>
    <meta name="discription" content="this is my first page"/> 
    <link rel="stylesheet" href="../static/login.css" />
</head>
<body>
    <header>
        <h1>Fc Barcelona</h1>    </header>
    <fieldset>
        
        <legend>LOG IN</legend>
        <form>
        <div>
        <label>user name</label>
        <input type="text" required placeholder="write Your username"></div><br>
        <div>
        <label>password</label>
        <input type="password" required></div><br>
        <span><input type="submit" value="Connexion"></span>
        </form>

    </fieldset>
</body>