<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/navbar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <nav>
            
            <ul class="link">
                <li><a href="https://codepen.io/your-work/">Home</a></li>
                <li><a href="https://codepen.io/naamen">About</a></li>
                <li><a href="https://www.instagram.com/J_H_O_N_S_O_N/">Contact_us</a></li>

            </ul>
        </nav>

    </div>
 

</body>

</html>