<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Project_css.Css">
    <title>Document</title>
</head>

<body>
    <nav class="head_container">

        <img src="https://thumbs.dreamstime.com/b/football-world-globe-typical-soccer-earth-map-isolated-over-white-background-97881251.jpg"
            alt="my logo"></span>
        <ul>
            <li><a href="#Home">Home</a></li>
            <li><a href="https://www.instagram.com/J_H_O_N_S_O_N/">Contact_us</a></li>
            <li><a href="https://codepen.io/naamen">About_us</a></li>
        </ul>
    </nav>

    <marquee><u><b>Football is my life</b></u></marquee>

    <h2>what is football ?</h2>
    <p>Le football (/futbol/), ou dans le langage courant simplement foot, par apocope, ou soccer (/sɔkœʁ/, en français
        d'Amérique du Nord), est un sport collectif qui se joue avec un ballon sphérique entre deux équipes de onze
        joueurs. Elles s'opposent sur un terrain rectangulaire équipé d'un but à chaque extrémité. L'objectif de chaqu
        camp est de mettre le ballon dans le but adverse plus de fois que l'autre équipe, sans que les joueurs utilisent
        leurs bras à l'exception des gardiens de buts.</p>
    <p>Nommé à l'origine football association et codifié au Royaume-Uni à la fin du xixe siècle, le football s'est doté
        en 1904 d'une fédération internationale, la FIFA. Pratiqué en 2006 par environ 264 millions de joueurs à travers
        le monde, le football est le sport le plus populaire dans la majorité des pays. Certains continents, comme
        l'Afrique, l'Amérique du Sud et l'Europe, sont même presque entièrement dominés par cette discipline.</p>

    <h3>Football world cup :</h3><br>
    <img src="https://r1.ilikewallpaper.net/ipad-wallpapers/download/20050/Fifa-World-Cup-ipad-wallpaper-ilikewallpaper_com.jpg"
        alt="the world cup" class="cup">
    <table border="1">
        <tr>
            <th>FAMOUSE PLAYER NOW</th>
            <th>AGE</th>
            <th>TEAM</th>
            <th>NATIONAL TEAM</th>
            <th>GLOBAL BUTS</th>
        </tr>
        <tr>
            <td>Leo messi</td>
            <td>34 years old</td>
            <td>Paris Saint-Germain</td>
            <td>Argentina </td>
            <td>756 goals</td>
        </tr>
        <tr>
            <td>Cristiano ronaldo</td>
            <td>37 years old</td>
            <td>Manchester United FC</td>
            <td>Portugal</td>
            <td>807 goals</td>
        </tr>
        <tr>
            <td>Mbappe</td>
            <td>23 years old</td>
            <td>Paris Saint-Germain</td>
            <td>France</td>
            <td>266 goals</td>
        </tr>
        <tr>
            <td>Neymar</td>
            <td>30 years old</td>
            <td>Paris Saint-Germain</td>
            <td>Brezil</td>
            <td>244 goals</td>

        </tr>
        <tr>
            <td>Levandowski</td>
            <td>34 years old</td>
            <td>FC Barcelona</td>
            <td>Pologne</td>
            <td>483 goals</td>
        </tr>
        <tr>
            <td>Haland</td>
            <td>22 years old</td>
            <td>Manchester city FC</td>
            <td>Norvége</td>
            <td>198 goals</td>
        </tr>
        <tr>
            <td>Benzema</td>
            <td>34 years old</td>
            <td>Real Madrid CF</td>
            <td>France</td>
            <td>346 goals</td>
        </tr>

    </table>
    <footer>
        <ul class="fot">
            <li>Contact_us</li>
            <li>ask me anytime you want </li><br>
            <li>amencabnaamen@gmail.com</li>
        </ul>
        <div class="copyright"> &copy;2025 Amen ALLAH Naamen</div>
    </footer>
</body>

</html>